* {
    margin: 0;
    padding: 0;
}

*::-webkit-resizer {
    background-color: rgba(0, 0, 0, 0);
}

body {
    color: white;
    font-family: 'Segoe UI', sans-serif;
    overflow: hidden;
    background-image: url(/src/bg/i.png);
    background-position: center center;
    background-size: cover;
}

.loadscreen {
    width: 100vw;
    height: 100vh;
    background-image: url(/src/bg/i.png);
    background-position: center center;
    background-size: cover;
}

.loadscreen .container {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(110px);
    width: 100%;
    height: 100%;
    animation: fade 500ms ease-out forwards;
    pointer-events: none;
}

@keyframes fade {
    from {opacity: 1;}
    to {opacity: 0;}
}

.desktop {
    width: 100%;
    height: 100%;
}

.taskbar {
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    animation: taskbarfade 500ms ease-out forwards;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 9999;
    user-select: none;
}

.taskbar .left {
    position: fixed;
}

.taskbar .right {
    position: fixed;
    right: 8px;
    cursor: default;
}

.taskbar .hideallbutton{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5px;
    height: 40px;
}

.taskbar .hideallbutton:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.taskbar .hideallbutton:active{
    background-color: rgba(255, 255, 255, 0.2);
}

.taskbar .right .time {
    text-align: center;
    font-size: small;
}

.taskbar .left .starticon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 100ms;
}

.taskbar .left .starticon:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

@keyframes taskbarfade {
    from {opacity: 0; transform: translateY(40px);}
    to {opacity: 1; transform: translateY(0px);}
}

.window {
    background-color: rgba(0, 0, 0, 0.521);
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.2);
    animation: windowopen 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.window.closed {
    animation: closing 500ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

@keyframes closing {
    from {opacity: 1; filter: blur(0px); transform: scale(1);}
    to {opacity: 0; filter: blur(10px); transform: scale(0.75);}
}

@keyframes closingicon {
    from {opacity: 1;}
    to {opacity: 0;}
}

.resized {
    transition: top 250ms ease-out, left 250ms ease-out, width 250ms ease-out, height 250ms ease-out;
}

@keyframes windowopen {
    from {filter: opacity(0) blur(10px); transform: scale(0.75);}
}


.windowtitle {
    display: flex;
    user-select: none;
}

.windowheader {
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    z-index: 99;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 5px;
    cursor: default;
    width: calc(100% - 135px);
}

.windowheader * {
    border: 1px solid red;
}

.windowtitle .buttons {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.windowtitle .button {
    width: 45px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color linear 150ms;
}

.windowtitle .buttons .button#close:hover {
    background-color: rgb(232, 17,35);
}

.windowtitle .buttons .button:not(.inactive):hover{
    background-color: rgba(255, 255, 255, 0.25);
}

.windowtitle .buttons .button.inactive {
    opacity: 0.5;
    pointer-events: none;
}

.content {
    width: 100%;
    height: calc(100% - 30px)
}

.content iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

.window.active {
    z-index: 999 !important;
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.45);
}

.window.active.resizable {
    resize: both;
}

.icons {
    left: 40px;
    position: fixed;
    bottom: 0;
    display: flex;
}

.icons .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1px;
    margin-right: 1px;
    transition: background-color 250ms;
}

.icons .icon.closedicon {
    animation: closingicon 500ms ease-out forwards;
}

.icons .icon::after {
    content: '';
    width: 40px;
    height: 2px;
    background-color: white;
    position: fixed;
    bottom: 0;
}

.icons .icon:hover {
    background-color: rgba(255, 255, 255, 0.1)
}

.icons .icon:active {
    background-color: rgba(255, 255, 255, 0.2)
}

.appactive {
    background-color: rgba(255, 255, 255, 0.25);
}

.appactive:hover {
    background-color: rgba(255, 255, 255, 0.25) !important;
}

.startmenu {
    position: absolute;
    z-index: 9999;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.521);
    width: 100%;
    height: calc(100% - 40px);
    top: 0;
    left: 0;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

.startmenu.open {
    animation: startopen 500ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
    opacity: 1;
    user-select: auto;
    pointer-events: all;
}

.startmenu.close {
    animation: startclose 500ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
    user-select: none;
    pointer-events: none;
    opacity: 1;
}

@keyframes startopen {
    from {filter: opacity(0) blur(10px);}
}

@keyframes startclose {
    from {filter: opacity(1) blur(0px);}
    to {filter: opacity(0) blur(10px);}
}

hr {
    border-color: rgba(255, 255, 255, 0.2);
    border-width: 1px;
    border-style: solid;
    margin: 10px 0;
}

.startmenu .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes startcontainer {
    from {filter: opacity(0); transform: scale(0.7);}
}

@keyframes startcontainerclose {
    from {filter: opacity(1); transform: scale(1);}
    to {filter: opacity(0); transform: scale(0.7);}
}

.startmenu.open .container {
    animation: startcontainer 500ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

.startmenu.close .container {
    animation: startcontainerclose 500ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

.startmenu .container .grid {
    width: 70%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.startmenu .container .grid .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    user-select: none;
    transition: background-color 250ms ease-out;
}

.startmenu .container .grid .app:hover {
    background-color: rgba(0, 0, 0, 0.45);
}

.switcher {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.521);
    backdrop-filter: blur(10px);
    animation: switchershow 250ms ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes switchershow {
    from {filter: opacity(0) blur(10px);}
}

.switcher.hideanim {
    animation: switcherclose 250ms ease-out;
    filter: opacity(0) blur(10px);
    user-select: none;
    pointer-events: none;
}

@keyframes switcherclose {
    from {filter: opacity(1) blur(0px);}
}

.switcher .box {
    display: flex;
    align-items: center;
}

.switcher .box .icon {
    max-width: 134px;
    max-height: 151px;
    user-select: none;
    padding: 25px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 250ms ease-out;
}

.switcher .box .icon p {
    max-width: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.switcher .box .icon.active {
    background-color: rgba(255, 255, 255, 0.2);
}

.switcher .box .icon:not(.icon.active):hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.switcher.hide {
    display: none;
}